# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
npm-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Android
android/build/
android/app/build/
android/app/.cxx/
android/app/.gradle/
android/app/src/debug/
*.apk
*.aab
*.ap_
*.dex
*.class
*.iml
.gradle/
local.properties

# iOS
ios/build/
ios/DerivedData/
*.ipa
*.xcarchive
*.xccheckout
*.xcscheme
*.xcuserstate
Pods/
# Add any other sensitive files or build artifacts here